name: Deploy Portfolio

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: Copy project files to VPS
        run: |
          rsync -avz \
            --exclude=".git" \
            --exclude=".github" \
            -e "ssh -p ${{ secrets.SSH_PORT }}" \
            ./ ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/var/www/portfolio/

      - name: Deploy in VPS using Docker Compose
        run: |
          ssh -p ${{ secrets.SSH_PORT }} ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "
            cd /var/www/portfolio &&
            docker compose down &&
            docker compose pull &&
            docker compose build --no-cache &&
            docker compose up -d &&
            docker system prune -f
          "
